<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card">
                <div class="card-body">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="text-center mt-3 text-muted">
                <p><a href="https://github.com/cornflourblue/angular-signup-verification-boilerplate">IPT Angular 21 Boilerplate - Email Sign Up with Verification, Authentication &amp; Forgot Password</a></p>
                <p>Wilson Gayo</p>
            </div>
        </div>
    </div>
</div>
